
GO
/****** Object:  Table [dbo].[Productions]    Script Date: 2/04/2020 6:22:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TheatreId] [int] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[TicketSuffix] [nvarchar](4) NOT NULL,
 CONSTRAINT [PK_Productions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shows]    Script Date: 2/04/2020 6:22:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shows](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductionId] [int] NOT NULL,
	[ShowDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Shows] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Theatres]    Script Date: 2/04/2020 6:22:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Theatres](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[SeatsAvailable] [int] NOT NULL,
	[TicketPrefix] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_Theatres] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 2/04/2020 6:22:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ShowId] [int] NOT NULL,
	[UserId] [int] NULL,
	[TicketNumber] [nchar](10) NOT NULL,
	[Purchased] [bit] NOT NULL,
 CONSTRAINT [PK_Tickets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/04/2020 6:22:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GivenName] [nvarchar](50) NOT NULL,
	[FamilyName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](125) NOT NULL,
	[Password] [nvarchar](125) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTickets]    Script Date: 2/04/2020 6:22:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTickets](
	[UserId] [int] NOT NULL,
	[TicketId] [int] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Productions] ON 

INSERT [dbo].[Productions] ([Id], [TheatreId], [Name], [TicketSuffix]) VALUES (4, 1, N'I Hear a Scratching at the Door', N'SD')
INSERT [dbo].[Productions] ([Id], [TheatreId], [Name], [TicketSuffix]) VALUES (5, 1, N'Waiting for Godot', N'WG')
INSERT [dbo].[Productions] ([Id], [TheatreId], [Name], [TicketSuffix]) VALUES (6, 1, N'Everyone should have an umbrella', N'UM')
SET IDENTITY_INSERT [dbo].[Productions] OFF
SET IDENTITY_INSERT [dbo].[Shows] ON 

INSERT [dbo].[Shows] ([Id], [ProductionId], [ShowDate]) VALUES (27, 4, CAST(N'2020-10-01T20:00:00.0000000' AS DateTime2))
INSERT [dbo].[Shows] ([Id], [ProductionId], [ShowDate]) VALUES (28, 4, CAST(N'2020-10-02T20:00:00.0000000' AS DateTime2))
INSERT [dbo].[Shows] ([Id], [ProductionId], [ShowDate]) VALUES (29, 4, CAST(N'2020-10-03T20:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Shows] OFF
SET IDENTITY_INSERT [dbo].[Theatres] ON 

INSERT [dbo].[Theatres] ([Id], [Name], [SeatsAvailable], [TicketPrefix]) VALUES (1, N'Theatre of the Damned', 150, N'TD')
SET IDENTITY_INSERT [dbo].[Theatres] OFF
SET IDENTITY_INSERT [dbo].[Tickets] ON 

INSERT [dbo].[Tickets] ([Id], [ShowId], [UserId], [TicketNumber], [Purchased]) VALUES (2385, 27, NULL, N'TD-0001-SD', 0)
INSERT [dbo].[Tickets] ([Id], [ShowId], [UserId], [TicketNumber], [Purchased]) VALUES (2386, 27, NULL, N'TD-0096-SD', 0)
INSERT [dbo].[Tickets] ([Id], [ShowId], [UserId], [TicketNumber], [Purchased]) VALUES (2387, 27, NULL, N'TD-0097-SD', 0)
GO
SET IDENTITY_INSERT [dbo].[Tickets] OFF
ALTER TABLE [dbo].[Tickets] ADD  CONSTRAINT [DF_Tickets_Purchased]  DEFAULT ((0)) FOR [Purchased]
GO
ALTER TABLE [dbo].[Productions]  WITH CHECK ADD  CONSTRAINT [FK_Productions_Theatres] FOREIGN KEY([TheatreId])
REFERENCES [dbo].[Theatres] ([Id])
GO
ALTER TABLE [dbo].[Productions] CHECK CONSTRAINT [FK_Productions_Theatres]
GO
ALTER TABLE [dbo].[Shows]  WITH CHECK ADD  CONSTRAINT [FK_Shows_Productions] FOREIGN KEY([ProductionId])
REFERENCES [dbo].[Productions] ([Id])
GO
ALTER TABLE [dbo].[Shows] CHECK CONSTRAINT [FK_Shows_Productions]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK_Tickets_Shows] FOREIGN KEY([ShowId])
REFERENCES [dbo].[Shows] ([Id])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Shows]
GO
ALTER TABLE [dbo].[UserTickets]  WITH NOCHECK ADD  CONSTRAINT [FK_UserTickets_Tickets] FOREIGN KEY([TicketId])
REFERENCES [dbo].[Tickets] ([Id])
GO
ALTER TABLE [dbo].[UserTickets] CHECK CONSTRAINT [FK_UserTickets_Tickets]
GO
ALTER TABLE [dbo].[UserTickets]  WITH NOCHECK ADD  CONSTRAINT [FK_UserTickets_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserTickets] NOCHECK CONSTRAINT [FK_UserTickets_Users]
GO
